/*VARIABLES COLORES*/
$fondo:#3A3030;
$fondoclaro:#FFEBCD;
$celeste:#0082e6;
$rosa:#dd31dd;
$purpura:#7431DD;

@import "./partials/commons"; /*PROPIEDADES COMUNES A TODAS LAS PAGINAS*/
@import "./partials/bootstrapmod"; /*ADAPTACIONES A BOOTSTRAP*/
@import "./partials/grids"; /*PROPIEDADES GRID SIN BOOTSTRAP*/
@import "./partials/iframes"; /*IFRAMES RESPONSIVE*/
@import "./partials/img_blog"; /*IMAGENES BLOG COVER*/
@import "./partials/footer"; /*PROPIEDADES FOOTER*/
