/*/////////////////////// PROPIEDADES COMUNES ////////////////////////////////////////////*/
* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #3A3030;
}

.fondopers {
  background-color: #FFEBCD;
}

/*SEPARADORES*/
.separador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 8vh;
  width: auto;
}

.separador--chico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5vh;
  width: auto;
}

/*COMPARTIR EN REDES SOCIALES*/
.compartir {
  font-size: 2rem;
  padding: 0.2rem;
  color: #FFEBCD;
  text-align: center;
}

.compartir:hover {
  font-size: 2rem;
  padding: 0.2rem;
  color: #0082e6;
}

/* ICONOS REDES SOCIALES PIE DE PAGINA */
.icono__vinculo {
  font-size: 3rem;
  padding: 0.2rem;
  color: #FFEBCD;
}

.icono__vinculo:hover {
  color: #dd31dd;
}

/*PROPIEDADES COMUNES A TODAS LAS PAGINAS*/
/*/////////////////////// ADAPTACIONES A BOOTSTRAP ////////////////////////////////////////////*/
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.logotipo {
  width: 130px;
}

/* ADAPTACIONES CAROUSEL */
.carousel {
  margin-bottom: 6rem;
}

.carousel-caption {
  bottom: 10rem;
}

.carousel-item {
  height: 40rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 40rem;
}

/* FILTRO FONDO BORROSO CAROUSEL */
.imagencarrousel {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

/* DIVISOR 3D */
.b-example-divider {
  height: 3rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  -webkit-box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.rounded-lg-3 {
  /*configuracion bordes redondeados*/
  border-radius: .5rem;
}

@media (max-width: 450px) {
  .encabezado {
    /*esto cambia la orientacion del texto del encabezado en la tabla de comparacion de planes*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/*ADAPTACIONES A BOOTSTRAP*/
/*/////////////////////// PROPIEDADES GRID Y FLEX ////////////////////////////////////////////*/
/* TARJETAS SERVICIOS */
.grid {
  /* PROPIEDADES CONTENEDORES GRID */
  /* PROPIEDADES TARJETAS GRID */
  /* IMAGENES TARJETAS GRID */
}

.grid__container {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  padding: 0.5rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  margin: 1rem;
  background-color: #3A3030;
}

.grid__container2 {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: 1rem;
  background-color: #3A3030;
}

.grid__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #0082e6;
  color: #FFEBCD;
  text-align: center;
}

.grid__card:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #7431DD;
  color: #FFEBCD;
}

.grid__imagen1 {
  height: 40vh;
  width: 100%;
  background: url("../img/card_diseno_grafico.png");
  margin: 0.5rem 0;
  background-position: center;
  background-size: cover;
}

.grid__imagen2 {
  height: 40vh;
  width: 100%;
  background: url("../img/card_diseno_web.png");
  margin: 0.5rem 0;
  background-position: center;
  background-size: cover;
}

.grid__imagen3 {
  height: 40vh;
  width: 100%;
  background: url("../img/card_marketing.png");
  margin: 0.5rem 0;
  background-position: center;
  background-size: cover;
}

.grid__imagen4 {
  height: 40vh;
  width: 100%;
  background: url("../img/card_redesign.png");
  margin: 0.5rem 0;
  background-position: center;
  background-size: cover;
}

.grid__imagen5 {
  height: 40vh;
  width: 100%;
  background: url("../img/card_seo.jpg");
  margin: 0.5rem 0;
  background-position: center;
  background-size: cover;
}

.grid__imagen6 {
  height: 40vh;
  width: 100%;
  background: url("../img/card_shopping.png");
  margin: 0.5rem 0;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1000px) {
  .grid_container {
    display: -ms-grid;
    display: grid;
    grid-gap: 1rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin: 1rem;
  }
  .grid_container2 {
    display: -ms-grid;
    display: grid;
    grid-gap: 1rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 1rem;
  }
}

@media (max-width: 600px) {
  .grid_container {
    display: -ms-grid;
    display: grid;
    grid-gap: 2rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 1rem;
  }
}

@media (max-width: 450px) {
  .grid_container {
    display: -ms-grid;
    display: grid;
    grid-gap: 1rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 1rem;
  }
}

/*PROPIEDADES GRID SIN BOOTSTRAP*/
/*/////////////////////// PROPIEDADES iframes responsive ////////////////////////////////////////////*/
/*CONTENEDOR IFRAME RESPONSIVE*/
.info__yt {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.info__map {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

/* PROPIEDADES IFRAME*/
.iframeyt {
  /*youtube*/
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  border: 0;
}

.iframemap {
  /*google maps*/
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  border: 0;
}

/*IFRAMES RESPONSIVE*/
/*/////////////////////// IMAGENES BLOG ////////////////////////////////////////////*/
.blog__imagen--articulo1 {
  height: 40vh;
  width: 100%;
  background-size: cover;
  margin: 0.5rem 0;
  background-position: center;
  overflow: hidden;
  background-image: url("../img/responsive.jpg");
}

.blog__imagen--articulo2 {
  height: 40vh;
  width: 100%;
  background-size: cover;
  margin: 0.5rem 0;
  background-position: center;
  overflow: hidden;
  background-image: url("../img/hosting.jfif");
}

.blog__imagen--articulo3 {
  height: 40vh;
  width: 100%;
  background-size: cover;
  margin: 0.5rem 0;
  background-position: center;
  overflow: hidden;
  background-image: url("../img/redes.jfif");
}

/*IMAGENES BLOG COVER*/
/*/////////////////////// PROPIEDADES DEL FOOTER ////////////////////////////////////////////*/
.pie {
  padding: 2rem;
  background-color: #3A3030;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #FFEBCD;
  text-decoration: none;
  text-align: center;
}

.pie__vinculo {
  color: #FFEBCD;
  text-decoration: none;
  -ms-flex-line-pack: center;
      align-content: center;
}

.pie__vinculo:hover {
  color: #dd31dd;
  text-decoration: none;
}

.pie > hr {
  height: 2px;
  background-color: #FFEBCD;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.icono__vinculo {
  font-size: 2rem;
  padding: 0.2rem;
  color: #FFEBCD;
}

.icono__vinculo:hover {
  color: #dd31dd;
}

/*PROPIEDADES FOOTER*/
/*# sourceMappingURL=main.css.map */