/*/////////////////////// PROPIEDADES COMUNES ////////////////////////////////////////////*/
* {
    font-family: 'Montserrat', sans-serif;
}
  
body {
    background-color: $fondo;
}
  
.fondopers {
    background-color: $fondoclaro;
}

/*SEPARADORES*/

.separador {
    display:flex;
    height: 8vh;
    width:auto;

    &--chico {
        display:flex;
        height: 5vh;
        width:auto;
    }
}

/*COMPARTIR EN REDES SOCIALES*/

.compartir {
    font-size: 2rem;
    padding:0.2rem;
    color: $fondoclaro;
    text-align: center;

    &:hover{
        font-size: 2rem;
        padding:0.2rem;
        color: $celeste;
    }
}

/* ICONOS REDES SOCIALES PIE DE PAGINA */

.icono__vinculo {
    font-size: 3rem;
    padding:0.2rem;
    color: $fondoclaro;

    &:hover{
    color: $rosa;
    }
}
  
  