/*/////////////////////// PROPIEDADES COMUNES ////////////////////////////////////////////*/
* {
    font-family: 'Montserrat', sans-serif;
}
  
body {
    background-color: $fondo;
}
  
.fondopers {
    background-color: $fondoclaro;
}

.fondo_basico {
    background-color: $celeste;
}
.fondo_profesional {
    background-color: $rosa;
}
.fondo_corporativo {
    background-color: $purpura;
}
/*BARRA NAVEGACION*/

.itembarra {
    padding: 6px 5px;
    &:hover {
        padding: 2px 5px;
        border-bottom: 4px solid;
        border-top:4px solid;
        --angle: 0deg;
        border-image: linear-gradient(var(--angle),$purpura,$rosa) 1;
        animation: 2s rotate linear infinite;
    }
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}
      
@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

/*GRADIENTE ANIMADO TEXTO*/

.textogradiente {
    color: $purpura;
	background: linear-gradient(to right, $rosa 20%, $purpura 40%, $celeste 60%, $rosa 80%);
    background-size: 200% auto;
    text-decoration: bold;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
    animation: shine 5s linear infinite;
}
@keyframes shine {
    to {
      background-position: 200% center;
    }
}

/*SEPARADORES*/

.separador {
    display:flex;
    height: 8vh;
    width:auto;

    &--chico {
        display:flex;
        height: 5vh;
        width:auto;
    }
}

/*COMPARTIR EN REDES SOCIALES*/

.compartir {
    font-size: 2rem;
    padding:0.2rem;
    color: $fondoclaro;
    text-align: center;

    &:hover{
        font-size: 2rem;
        padding:0.2rem;
        color: $celeste;
    }
}

/* ICONOS REDES SOCIALES PIE DE PAGINA */

.icono__vinculo {
    font-size: 3rem;
    padding:0.2rem;
    color: $fondoclaro;

    &:hover{
    color: $rosa;
    }
}