/*/////////////////////// PROPIEDADES GRID Y FLEX ////////////////////////////////////////////*/

* a {
    text-decoration:none;
}

@mixin container-grid { /*propiedades tarjetas servicios*/
    display: grid;
    grid-gap: 1rem;
    margin:1rem;
    background-color: $fondo;
    text-decoration:none;
}

@mixin imagen-grid { /* mixin propiedades imagenes tarjetas */
    height: 40vh;
    width: 100%;
    margin: 0.5rem 0;
    background-position: center;
    background-size:cover;
}

$imagen-card: ( /*mapa direcciones de imagenes de tarjetas servicios*/
card1: url("../img/svg/diseno_grafico.svg"),
card2: url("../img/svg/diseno.svg"),
card3: url("../img/svg/marketing.svg"),
card4: url("../img/svg/rediseno.svg"),
card5: url("../img/svg/seo.svg"),
card6: url("../img/svg/shopping.svg"),
);

.grid {
  &__imagen1 {
  @include imagen-grid;
  background-image: map-get($imagen-card,card1);
  }
  &__imagen2 {
    @include imagen-grid;
    background-image: map-get($imagen-card,card2);
  }
  &__imagen3 {
    @include imagen-grid;
    background-image: map-get($imagen-card,card3);
  }
  &__imagen4 {
    @include imagen-grid;
    background-image: map-get($imagen-card,card4);
  }
  &__imagen5 {
    @include imagen-grid;
    background-image: map-get($imagen-card,card5);
  }
  &__imagen6 {
    @include imagen-grid;
    background-image: map-get($imagen-card,card6);
  }
  &__container {
      @include container-grid;
      padding: 0.5rem;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 1fr;
  }
  &__container2 {
  @include container-grid;
  grid-template-columns: repeat(2, 1fr);
  }
  &__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $celeste;
  color:$fondoclaro;
  text-align: center;
  text-decoration:none;
  &:hover {
  background: $rosa;
  }
  }
}

@media (max-width: 1000px){
  @mixin container-grid {
    display: grid;
    grid-gap: 0.5rem;
    margin:0.5rem;
    background-color: $fondo;
    text-decoration:none;
  }
  .grid__container {
    @include container-grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid__container2 {
    @include container-grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px){
  @mixin container-grid {
    display: grid;
    grid-gap: 1rem;
    margin:1rem;
    background-color: $fondo;
    text-decoration:none;
    }
    .grid__container {
      @include container-grid;
      grid-template-columns: 1fr;
    }

}
  
@media (max-width: 450px) {
  @mixin container-grid {
    display: grid;
    grid-gap: 1rem;
    margin:1rem;
    background-color: $fondo;
    text-decoration:none;
  }
  .grid__container {
    @include container-grid;
    grid-template-columns: 1fr;
  }
  .grid_container2 {
    grid-gap:0.2rem;
    margin:0px;
    padding:0px;
  }
}